.skeleton {
    position: relative;
    overflow: hidden;
    height: 72px;
    background-color: #f2f2f2;
    transition: all 280ms;
}
.skeleton .skeleton__inner {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #f2f2f2 0%, rgba(255, 255, 255, 0.6) 50%, #f2f2f2 100%);
    animation: move 2s cubic-bezier(.4, 0, .6, 1) infinite;
}
@keyframes move {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes pulse {
    50% {
        opacity: .5;
    }
}